<div class="e-actions-bar">
  <button mat-raised-button class="e-btn e-btn-primary">Add Driver</button>
</div>

<div class="e-main-content-wrapper">
  <div class="e-list-panel">
    <ul class="e-list-group e-w-100 e-column-gap-12">
      <li class="e-list-item e-justify-between">
        <!-- <div class="e-d-flex e-column-gap-12"> -->
        <img src="assets/dp-01.png" alt="" class="img-thumbnail" />
        <div class="e-list-content">
          <h2 class="e-title">Freddie Osborne</h2>
          <p class="e-sub-title">fosborne@outlook.com</p>
          <p class="e-sub-title">+1-650-513-0514</p>
        </div>
        <!-- </div> -->
        <div class="badge">
          <mat-chip class="e-chip-active"> Active </mat-chip>
        </div>
      </li>
    </ul>
  </div>
  <div class="e-details-panel"></div>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
      >verified_user</mat-icon
    >
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
      >verified_user</mat-icon
    >
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<div class="alternative">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example user verified icon"
        >verified_user</mat-icon
      >
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example heart icon"
        >favorite</mat-icon
      >
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example delete icon"
        >delete</mat-icon
      >
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-divider></mat-divider>

<i class="material-icons-outlined">notifications</i>
<i class="material-icons">notifications</i>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
  </div>
</section>
<mat-divider></mat-divider>


<router-outlet></router-outlet>
