
<!-- Appheader ------------------ -->

<div class="e-appheader">
  <div class="e-appheader-content">
    <div class="e-appheader-content-inner">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../assets/eModal-Logo.svg" alt="eModal Community Portal Logo">
      <span class="e-apptitle">Manage Drivers</span>
    </div>
    <div class="e-appheader-content-inner">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- Main Content ----------------------- -->

<div class="e-main-content-wrapper">

  <!-- List Panel -------- -->

  <div class="e-list-panel">
    <div class="e-list-group">

      <!-- Each List Item -------- -->
      <div class="e-list-item">
          <div class="e-list-item-inner">
              <img class="img-thumbnail" src="../assets/dp-01.png" alt="Image Thumbnail of Driver">
              <div class="e-list-item-text">
                <h2 class="e-list-item-title">Freddie Osborne</h2>
                <p>fosborne@outlook.com</p>
                <p>+1-650-513-0514</p>
              </div>
          </div>
          <div class="e-list-item-inner">
            <mat-chip class="e-chip-active"> Active </mat-chip>
        </div>
      </div>
      <!-- End of List Item --------  -->

    </div>    
  </div>

  <!-- Details Panel -------- -->

  <div class="e-details-panel">
    <div class="e-details-content">

      <div class="e-details-content-header">
        <div class="e-details-content-inner">

          <!-- Each List Item -------- -->
            <div class="e-list-item">
                <div class="e-list-item-inner">
                  <img class="img-thumbnail" src="../assets/dp-01.png" alt="Image Thumbnail of Driver">
                  <div class="e-list-item-text">
                    <h2 class="e-list-item-title">Freddie Osborne</h2>
                    <p>fosborne@outlook.com</p>
                    <p>+1-650-513-0514</p>
                  </div>
                </div>
              <div class="e-list-item-inner">
                <mat-chip class="e-chip-active"> Active </mat-chip>
              </div>
            </div>
          <!-- End of List Item --------  -->
        </div>
  
        <!-- Edit Driver Button ------- -->
        <div class="e-details-content-inner">
          <button mat-raised-button class="e-btn-secondary"> <mat-icon>edit</mat-icon>Edit Driver</button>
        </div>
      </div>
      <!-- ------------------------------- -->
      <!-- Details Tabs ------------------ -->

      <div class="e-details-tabs">
        <mat-tab-group [@.disabled]="true">
          <mat-tab label="Contract Info">
            <div class="e-details-tab-content e-d-flex e-flex-column e-row-gap-12 m-12">
              <div class="e-d-flex e-column-gap-12 e-align-items-center">
                <mat-icon class="fs-24 tertiary-color">today</mat-icon>
                <span class="e-section-heading fs-20 tertiary-color">
                  Contract Dates
                </span>
              </div>
              <div class="m-x-36">
                <img src="../assets/contract-arrow.png" alt="Arrow Image">
              </div>
              
              <div class="e-d-flex e-column-gap-60 m-x-36">
                <div class="e-d-flex e-flex-column e-row-gap-6">
                  <span class="fs-12 secondary-color">Begin Date</span>
                  <span class="fs-16 primary-color">03/24/2023</span>
                </div>
                <div class="e-d-flex e-flex-column e-row-gap-6">
                  <span class="fs-12 secondary-color">End Date</span>
                  <span class="fs-16 primary-color">03/25/2024</span>
                </div>
              </div>
              
              
            </div>
          </mat-tab>
          <mat-tab label="License Info">
            <div class="e-details-tab-content">
              Content 2
            </div>
          </mat-tab>
          <mat-tab label="Company Info">
            <div class="e-details-tab-content">
              Content 3
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      
      

    </div>
  </div>
</div>


<router-outlet></router-outlet>
